run = "npx expo start --web --port 3000"
modules = ["nodejs-20"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[deployment]
deploymentTarget = "cloudrun"
run = "npx expo start --web --port 3000"

[nix]
packages = ["psmisc"]
